/* SelectorModal.module.css */
.listContainer {
  flex-grow: 1;
  overflow-y: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.listItem {
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;

  border-radius: 16px;

  padding: 0.5rem;
  font-size: 1rem;

  color: white;
  background: linear-gradient(135deg, #32cd32, #228b22);
  /* box-shadow: 0 8px 24px rgba(50, 205, 50, 0.3); */
  border: 1px solid rgba(144, 238, 144, 0.3);

  cursor: pointer;
}

.listItem:hover {
  background-color: #94a994;
}
