.mahjong-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* 背景を半透明に */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mahjong-modal-content {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #1b3b1a;
  font-family: 'Yu Gothic', sans-serif;
}
